@model IEnumerable<Magnets.Models.Community>

@{
    ViewBag.Title = "Mein Haushalt";
}

@section scripts{
    <script type="text/javascript">

        $(init);

        $(document).on('click', '.close', function () {
            $(this).parent().fadeTo(300, 0, function () {
                $(this).remove();
            });
        });

        function init() {
            createToolCollection()
            createClipBoard()
        }


        function createToolCollection() {
            for (var i = 0; i < 5; i++) {
                $('<div></div>').attr('id', 'toolCat' + i).appendTo('#tools-collection').draggable({
                    containment: '#content',
                    cursor: 'move',
                    helper: 'clone',
                    revert: 'invalid'
                });
            }
        }

        function createClipBoard() {
            for (var i = 1; i <= 40; i++) {
                $('<div></div>').appendTo('#clipboard').droppable({
                    accept: '#tools-collection div',
                    hoverClass: 'hovered',
                    drop: handleDrop
                });
            }
        }

        function handleDrop(event, ui) {
            tool = $(ui.draggable).clone().appendTo($(this)).append('<div class="close"></div>');

            $(".close").button({
                icons: {
                    primary: "ui-icon-close"
                },
                text: false
            });
        }
    </script>
}

<style>
    #clipboard, #tools-collection {
        padding: 20px;
        border: 2px solid #333;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
        box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    }

    #clipboard {
        height: 570px;
        border: 1px solid;
        background: #fff;
        overflow: hidden;
    }

    .ui-draggable {
        background: #666;
        float: left;
        width: 100px;
        height: 100px;
        border: 2px solid #333;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: 5px;
        background: #fff;
    }

    #clipboard div.ui-droppable {
        float: left;
        width: 100px;
        height: 100px;
        border: 2px dashed #333;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: 5px;
        background: #fff;
    }

    #clipboard .ui-draggable {
        background: #ffd800;
        margin: -2px;
    }

    .close {
        background: none;
        border: none;
        float: right;
        margin: 10px 0px;
    }

    #tools-collection {
        height: 110px;
        border: 1px solid;
        background: #ffd;
        position: fixed;
        bottom: 0;
    }

        #tools-collection div.ui-draggable-dragging {
            -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
            -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
            box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
        }
</style>

<div id="clipboard">
</div>
<div id="tools-collection">
</div>

